.learningPath{
    padding-left: .5rem;
    background-color: #FFF;
    border: 1px solid #cce4fb;
    border-radius: .5rem;
    margin-top: .5rem;
}

.learningPath_title {
    text-align: center;
    font-size: .8rem;
}

.learningPath_list_title{
    font-size: 1rem;
    color: #888 !important;
}

.learningPath_a {
    position: relative;
    /* 定位绝对位置 */
    width: 100%;
    /* 绝对位置，容器必须指定宽度 */
}

.learningPath_list_type{
    /* background-color: #1890ff; */
    /* 相对位置，靠右 */
    position: absolute;
    right: 1rem;
    color: #ccc;
    font-size: 0.8rem;
    margin-top: .3rem;
}

.rightOutlined{
    color: #1890ff;
}