.navigation_div {
    
}

.navigation_title_div {
    margin-top: .5rem;
    border: 1px solid #cce4fb;
    background-color: #fff;
    border-radius: .5rem
}

.navigation_content {
    font-size: 12px !important;
    /* 强制文字一行内显示 */
    white-space: nowrap;
    /* 超出部分隐藏 */
    overflow: hidden;
    /* 用省略号替代超出部分 */
    text-overflow: ellipsis;
}

.navigation_content_div{
    margin-top: .3rem;
    background-color: #fff;
    border: 1px solid #cce4fb;
    border-radius: .5rem;
    /* color: #595959 !important; */
}