
.addArticle_markContent {
    font-size:16px !important;
    max-height: 745px!important;
    min-height: 745px!important;
    margin-top: 1rem !important;
}

.addArticle_markContent_show {
    margin-top: 1rem;
    padding:10px;
    border:1px solid #ddd;
    border-radius: 5px;
    font-size:16px;
    height: 745px;
    background-color: #f0f0f0;
    overflow: auto;
    width: 98%;
}

.addArticle_MarkIntroduce {
    font-size:13px !important;
    max-height: 745px!important;
    margin-top: 1rem !important;
}

.addArticle_MarkIntroduce_show{
    margin-top: .5rem;
    padding:10px;
    border:1px solid #ddd;
    border-radius: 5px;
    font-size:16px; 
    height: 220px;
    background-color: #f0f0f0;
    overflow: auto;
    width: 100%;
}

.addArticle_showTime_div {
    margin-top: .5rem;
}
.addArticle_showTime_datePicker{
    margin-left: .5rem;
}


.addArticle_markContent_show h1{
    font-size:30px;
}

.addArticle_markContent_show h2{
    font-size:28px;
    border-bottom: 1px solid #cbcbcb;
}
.addArticle_markContent_show h3{
    font-size:24px;
}

.addArticle_markContent_show pre{
    display: block;
    background-color: #f0f0f0;
    padding: 5px;
    border-radius: 5px;
}
.addArticle_markContent_show pre>code{
    color: #000;
    background-color: #f0f0f0;
}
.addArticle_markContent_show code {
    background-color: #fff5f5;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0px 3px; 
    color: #ff502c; 
}
.addArticle_markContent_show blockquote{
    border-left:4px solid #cbcbcb ;
    padding: 10px 10px 10px 30px; 
    background-color: #f8f8f8;
}


.addArticle_MarkIntroduce_show h1{
    font-size:30px;
}

.addArticle_MarkIntroduce_show h2{
    font-size:28px;
    border-bottom: 1px solid #cbcbcb;
}
.addArticle_MarkIntroduce_show h3{
    font-size:24px;
}

.addArticle_MarkIntroduce_show pre{
    display: block;
    background-color: #f0f0f0;
    padding: 5px;
    border-radius: 5px;
}
.addArticle_MarkIntroduce_show pre>code{
    color: #000;
    background-color: #f0f0f0;
}
.addArticle_MarkIntroduce_show code {
    background-color: #fff5f5;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0px 3px; 
    color: #ff502c; 
}
.addArticle_MarkIntroduce_show blockquote{
    border-left:4px solid #cbcbcb ;
    padding: 10px 10px 10px 30px; 
    background-color: #f8f8f8;
}