.header_div {
    width: 100%;
    display:block;
}
.avatar_span {
   float:right;
   margin-right: 10%;
}

.avatar_span_img {
    border: 1px solid rgb(150, 146, 146) !important;
    margin-bottom: 1rem !important;
}
.hreader_dropdown {
    margin-left: 5px;
}

.soundOutlined {
    padding-right: 1.5rem;
}
.soundOutlined_icon{
    font-size: 25px;
}
.refresh {
    margin-left: 1%;
    font-size: 18px; 
    color: rgb(75, 82, 82);
}
.systemTitleFont {
    margin-left: 1.5%;
    font-size: 18px; 
    color: rgb(159, 182, 202);
}